@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

/* * {
    outline: 1px solid red;
}*/

body{
    background: #eee;
    font-family: Source Sans Pro;
    font-size: small;
    
}


h1{
    text-align: center;
    font-family: Abril Fatface;
    font-size: 2.5em;
    padding-bottom: 10px;
}    
    

.newspaper-container{
    width: 700px;
    margin: 0 auto;
    background: white;
    border-radius: 15px;
    box-shadow: 2px 2px 4px darkgoldenrod;
    padding: 1.5em;
    

}
a{
    text-decoration: none;
}

nav{
    position: sticky;
    top: 5px;
    background-color: #eee;
    opacity: .9;
}
nav ul{
   
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
nav li{
    
    list-style-type: none;
    display: inline-block;
    
    padding: .5em;
    color: black;
    font-style: Source Sans Pro;
    
    
}
nav a{
    color: grey
}
 
p {
    border-bottom : 1px solid grey;
    padding-bottom: 2em;
    text-align: justify;
}

/* main article*/

main h2{
    font-family: Roboto Slab;
}

main h5{
    font-family: Roboto Slab;
 color: darkred;
}
main img {
    width: 100%;
}

/* small articles */

.more-articles section {
    display: inline-block;
    font-family: Roboto Slab;
    width: 45%;
    margin: 1em
}

/* footer*/


footer ul{
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
footer li{
    list-style-type: none;
    display: inline-block;
    padding: .5em;
    color: grey;
    font-style: Source Sans Pro;
    
}